

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="./style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
    <div id="container">


    <h1>Products</h1>
    <table border="1">
        <thead>
            <tr>
              
                <th><h1>Order ID </h1></th>
                <th><h1>Order Date</h1></th>
                <th><h1>Sales Person ID</h1></th>
                <th><h1>Sales Person Name</h1></th>
                <th><h1>Customer ID</h1></th>
                <th><h1>Customer Name</h1></th>
                <th><h1>Product ID</h1></th>
                <th><h1>Product Name</h1></th>
                <th><h1>Product Price</h1></th>
                <th><h1>Warehouse City</h1></th>
                <th><h1>Warehouse District</h1></th>
                <th><h1>Warehouse Neighbourhood</h1></th>
                <th><h1>Warehouse Street</h1></th>
                <th><h1>Warehouse Building Number</h1></th>
                <th><h1>Warehouse Apartment Number</h1></th>
            </tr>
        </thead>
        <tbody>
            {% for p in orders %}
                <tr>
                    {% for value in p %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
  
</div>
</body>
</html>
